<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPISensors.kext:ACPI Monitoring Plugin</key>
	<array>
		<dict>
			<key>5</key>
			<array>
				<string>monitor</string>
			</array>
		</dict>
	</array>
	<key>AHCI_3rdParty_SATA.kext:ASMedia ASM1061</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x06121b21</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_SATA.kext:JMicron JMB360 AHCI</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2360197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_SATA.kext:JMicron JMB360 RAID</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2360197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01040000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_SATA.kext:JMicron JMB361 AHCI</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2361197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_SATA.kext:JMicron JMB361 RAID</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2361197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01040000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_SATA.kext:JMicron JMB362 AHCI</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2362197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_SATA.kext:JMicron JMB362 RAID</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2362197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01040000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_SATA.kext:JMicron JMB363 AHCI</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2363197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_SATA.kext:JMicron JMB363 RAID</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2363197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01040000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_SATA.kext:JMicron JMB366 AHCI</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2366197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_SATA.kext:JMicron JMB366 RAID</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2366197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01040000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_SATA.kext:Marvell 88SE9120</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x91201b4b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_SATA.kext:Marvell 88SE9123</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x91231b4b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_SATA.kext:Marvell 88SE9125</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x91251b4b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_SATA.kext:Marvell 88SE9128</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x91281b4b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_SATA.kext:Marvell 88SE9172</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x91721b4b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_eSATA.kext:ASMedia ASM1061</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x06121b21</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_eSATA.kext:JMicron JMB360 AHCI</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2360197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_eSATA.kext:JMicron JMB360 RAID</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2360197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01040000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_eSATA.kext:JMicron JMB361 AHCI</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2361197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_eSATA.kext:JMicron JMB361 RAID</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2361197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01040000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_eSATA.kext:JMicron JMB362 AHCI</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2362197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_eSATA.kext:JMicron JMB362 RAID</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2362197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01040000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_eSATA.kext:JMicron JMB363 AHCI</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2363197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_eSATA.kext:JMicron JMB363 RAID</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2363197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01040000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_eSATA.kext:JMicron JMB366 AHCI</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2366197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_eSATA.kext:JMicron JMB366 RAID</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2366197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01040000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_eSATA.kext:Marvell 88SE9120</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x91201b4b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_eSATA.kext:Marvell 88SE9123</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x91231b4b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_eSATA.kext:Marvell 88SE9125</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x91251b4b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_eSATA.kext:Marvell 88SE9128</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x91281b4b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>AHCI_3rdParty_eSATA.kext:Marvell 88SE9172</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x91721b4b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01060100&amp;0xffffff00</string>
		</dict>
	</array>
	<key>ALXEthernet.kext:L1C</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x10631969</string>
		</dict>
	</array>
	<key>ALXEthernet.kext:L1D_1</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x10731969</string>
		</dict>
	</array>
	<key>ALXEthernet.kext:L1D_2</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x10831969</string>
		</dict>
	</array>
	<key>ALXEthernet.kext:L1F</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x10911969</string>
		</dict>
	</array>
	<key>ALXEthernet.kext:L1H</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x10A11969</string>
		</dict>
	</array>
	<key>ALXEthernet.kext:L2C</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x10621969</string>
		</dict>
	</array>
	<key>ALXEthernet.kext:L2CB_1</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x20601969</string>
		</dict>
	</array>
	<key>ALXEthernet.kext:L2CB_2</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x20621969</string>
		</dict>
	</array>
	<key>ALXEthernet.kext:L2F</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x10901969</string>
		</dict>
	</array>
	<key>ALXEthernet.kext:L2H</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x10A01969</string>
		</dict>
	</array>
	<key>ATI4800Controller.kext:Controller</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x94401002 0x944a1002 0x94421002 0x94411002 0x94431002 0x944c1002 0x94601002</string>
		</dict>
		<dict>
			<key>0</key>
			<string>0x94401002 0x944a1002 0x94411002 0x94431002 0x944C1002 0x94601002 0x94421002</string>
		</dict>
		<dict>
			<key>0</key>
			<string>0x94401002 0x944a1002 0x94421002  0x94411002 0x94431002 0x944C1002 0x94601002</string>
		</dict>
		<dict>
			<key>0</key>
			<string>0x94401002 0x944a1002 0x94411002 0x94431002 0x944c1002 0x94601002 0x94421002</string>
		</dict>
		<dict>
			<key>0</key>
			<string>0x94401002 0x944a1002 0x94411002 0x94431002 0x944c1002 0x94601002</string>
		</dict>
	</array>
	<key>ATI48xxInjector.kext:Controller</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x94401002 0x94411002 0x94421002 0x94431002 0x944a1002 0x944c1002 0x944e1002 0x94601002 0x94621002</string>
		</dict>
	</array>
	<key>ATIRadeonX2000.kext:ATIRadeonX2000</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x94001002 0x94011002 0x94021002 0x94031002 0x95811002 0x95831002 0x95881002 0x94c81002 0x94c91002 0x95001002 0x95011002 0x95051002 0x95071002 0x95041002 0x95061002 0x95981002 0x94881002 0x95991002 0x95911002 0x95931002 0x94401002 0x94421002 0x944A1002 0x945A1002 0x94901002 0x949E1002 0x94801002 0x95401002 0x95411002 0x954E1002 0x954F1002 0x95521002 0x95531002 0x94a01002 0x94411002 0x94431002 0x944c1002 0x94601002</string>
		</dict>
		<dict>
			<key>0</key>
			<string>0x94001002 0x94011002 0x94021002 0x94031002 0x95811002 0x95831002 0x95881002 0x94c81002 0x94c91002 0x95001002 0x95011002 0x95051002 0x95071002 0x95041002 0x95061002 0x95981002 0x94881002 0x95991002 0x95911002 0x95931002 0x94401002 0x94421002 0x944A1002 0x945A1002 0x94901002 0x949E1002 0x94801002 0x95401002 0x95411002 0x954E1002 0x954F1002 0x95521002 0x95531002 0x94a01002 0x94411002 0x94431002 0x944C1002 0x94601002</string>
		</dict>
		<dict>
			<key>0</key>
			<string>0x94001002 0x94011002 0x94021002 0x94031002 0x95811002 0x95831002 0x95881002 0x94c81002 0x94c91002 0x95001002 0x95011002 0x95051002 0x95071002 0x95041002 0x95061002 0x95981002 0x94881002 0x95991002 0x95911002 0x95931002 0x94401002 0x94421002 0x944A1002 0x945A1002 0x94901002 0x949E1002 0x94801002 0x95401002 0x95411002 0x954E1002 0x954F1002 0x95521002 0x95531002 0x94a01002  0x94411002 0x94431002 0x944C1002 0x94601002</string>
		</dict>
	</array>
	<key>AppleACPIButtons.kext:ACPI AC Adapter</key>
	<array>
		<dict>
			<key>5</key>
			<string>ACPI0003</string>
		</dict>
	</array>
	<key>AppleACPIButtons.kext:ACPI Lid Switch</key>
	<array>
		<dict>
			<key>5</key>
			<string>PNP0C0D</string>
		</dict>
	</array>
	<key>AppleACPIButtons.kext:ACPI Power/Sleep Button</key>
	<array>
		<dict>
			<key>5</key>
			<array>
				<string>PNP0C0C</string>
				<string>power-button</string>
				<string>PNP0C0E</string>
				<string>sleep-button</string>
			</array>
		</dict>
	</array>
	<key>AppleACPIEC.kext:ACPI Embedded Controller</key>
	<array>
		<dict>
			<key>5</key>
			<array>
				<string>PNP0C09</string>
				<string>boot-ec</string>
			</array>
		</dict>
	</array>
	<key>AppleACPIPS2Nub.kext:ACPI PS/2 Nub</key>
	<array>
		<dict>
			<key>5</key>
			<array>
				<string>PNP0303</string>
				<string>PNP030B</string>
			</array>
		</dict>
	</array>
	<key>AppleACPIPlatform.kext:ACPI CPU</key>
	<array>
		<dict>
			<key>5</key>
			<string>processor</string>
		</dict>
	</array>
	<key>AppleACPIPlatform.kext:ACPI Host Bridge</key>
	<array>
		<dict>
			<key>5</key>
			<string>PNP0A03</string>
		</dict>
	</array>
	<key>AppleACPIPlatform.kext:ACPI Interrupt Link</key>
	<array>
		<dict>
			<key>5</key>
			<string>PNP0C0F</string>
		</dict>
	</array>
	<key>AppleACPIPlatform.kext:ACPI Platform</key>
	<array>
		<dict>
			<key>5</key>
			<string>ACPI</string>
		</dict>
	</array>
	<key>AppleHDAController.kext:BuiltInHDA</key>
	<array>
		<dict>
			<key>3</key>
			<string>0x04020000&amp;0xFFFE0000</string>
		</dict>
	</array>
	<key>AppleIntelCPUPowerManagement.kext:IntelCPUPowerManagement</key>
	<array>
		<dict>
			<key>4</key>
			<dict>
				<key>intel_cpupm_matching</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>6</key>
			<string>IOKit</string>
		</dict>
	</array>
	<key>AppleIntelE1000e.kext:80003ES2</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x10968086 0x10988086 0x10ba8086 0x10bb8086</string>
		</dict>
	</array>
	<key>AppleIntelE1000e.kext:82571</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x105e8086 0x105f8086 0x10608086 0x10a48086 0x10a58086 0x10bc8086 0x10d58086 0x10d98086 0x10da8086 </string>
		</dict>
	</array>
	<key>AppleIntelE1000e.kext:82572</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x107d8086 0x107e8086 0x107f8086 0x10b98086</string>
		</dict>
	</array>
	<key>AppleIntelE1000e.kext:82573</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x108b8086 0x108c8086 0x109a8086</string>
		</dict>
	</array>
	<key>AppleIntelE1000e.kext:82574</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x10d38086</string>
		</dict>
	</array>
	<key>AppleIntelE1000e.kext:82578</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x10ea8086 0x10eb8086 0x10ef8086 0x10f08086</string>
		</dict>
	</array>
	<key>AppleIntelE1000e.kext:82579</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x15028086 0x15038086</string>
		</dict>
	</array>
	<key>AppleIntelE1000e.kext:82583</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x150c8086</string>
		</dict>
	</array>
	<key>AppleIntelE1000e.kext:I217</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x153a8086 0x153b8086</string>
		</dict>
	</array>
	<key>AppleIntelE1000e.kext:ICH10</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x10cc8086 0x10cd8086 0x10ce8086 0x10de8086 0x10df8086 0x15258086</string>
		</dict>
	</array>
	<key>AppleIntelE1000e.kext:ICH8</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x15018086 0x10498086 0x104a8086 0x104b8086 0x104c8086 0x104d8086 0x10c48086 0x10c58086</string>
		</dict>
	</array>
	<key>AppleIntelE1000e.kext:ICH9</key>
	<array>
		<dict>
			<key>0</key>
			<string>0x10bd8086 0x10bf8086 0x10c08086 0x10c28086 0x10c38086  0x10cb8086 0x10e58086 0x10f58086 0x294c8086</string>
		</dict>
	</array>
	<key>AppleMikeyDriver.kext:AppleMikeyDriver</key>
	<array>
		<dict>
			<key>5</key>
			<array>
				<string>mikey</string>
				<string>MKY0</string>
				<string>MKY1</string>
			</array>
		</dict>
	</array>
	<key>ApplePS2Controller.kext:ApplePS2Controller</key>
	<array>
		<dict>
			<key>5</key>
			<string>ps2controller</string>
		</dict>
	</array>
	<key>AppleRTL8169Ethernet.kext:RTL8101E</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x813610ec</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x02000000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>AppleRTL8169Ethernet.kext:RTL8131E</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x813110ec</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x02000000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>AppleRTL8169Ethernet.kext:RTL8168</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x816810ec</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x02000000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>AppleRTL8169Ethernet.kext:RTL8169/RTL8110</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x816910ec 0x816710ec</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x02000000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>AppleUSBEHCI.kext:AppleUSBEHCI</key>
	<array>
		<dict>
			<key>3</key>
			<string>0x0c032000</string>
		</dict>
	</array>
	<key>AppleUSBEHCI.kext:AppleUSBEHCI_OMI</key>
	<array>
		<dict>
			<key>3</key>
			<string>0x0c032000</string>
		</dict>
	</array>
	<key>AppleUSBOHCI.kext:AppleUSBOHCI</key>
	<array>
		<dict>
			<key>3</key>
			<string>0x0c031000</string>
		</dict>
	</array>
	<key>AppleUSBUHCI.kext:AppleUSBUHCI</key>
	<array>
		<dict>
			<key>3</key>
			<string>0x0C030000</string>
		</dict>
	</array>
	<key>ElliottForceLegacyRTC.kext:PNP0B00</key>
	<array>
		<dict>
			<key>5</key>
			<string>PNP0B00</string>
		</dict>
	</array>
	<key>EvOreboot.kext:EvOreboot</key>
	<array>
		<dict>
			<key>6</key>
			<string>ACPI</string>
		</dict>
	</array>
	<key>FakeSMC.kext:SMC Device Emulator</key>
	<array>
		<dict>
			<key>6</key>
			<string>ACPI</string>
		</dict>
	</array>
	<key>FintekF718x.kext:Fintek F718x Monitor Plugin</key>
	<array>
		<dict>
			<key>6</key>
			<string>ACPI</string>
		</dict>
	</array>
	<key>HDAEnabler888.kext:HDAEnabler</key>
	<array>
		<dict>
			<key>3</key>
			<string>0x04030000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>HDAEnabler888b.kext:HDAEnabler</key>
	<array>
		<dict>
			<key>3</key>
			<string>0x04030000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>HDAEnabler889.kext:HDAEnabler</key>
	<array>
		<dict>
			<key>3</key>
			<string>0x04030000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>HDAEnabler889a.kext:HDAEnabler</key>
	<array>
		<dict>
			<key>3</key>
			<string>0x04030000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>HDAEnabler892.kext:HDAEnabler</key>
	<array>
		<dict>
			<key>3</key>
			<string>0x04030000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>HDAEnabler898.kext:HDAEnabler</key>
	<array>
		<dict>
			<key>3</key>
			<string>0x04030000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>ITEIT87x.kext:ITE IT87x Monitor Plugin</key>
	<array>
		<dict>
			<key>6</key>
			<string>ACPI</string>
		</dict>
	</array>
	<key>IntelCPUMonitor.kext:Intel CPU Monitor Plugin</key>
	<array>
		<dict>
			<key>6</key>
			<string>IOKit</string>
		</dict>
	</array>
	<key>JMicron36xATA.kext:JMicronATA PCI</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x2361197b 0x2363197b 0x2365197b 0x2366197b 0x2368197b</string>
		</dict>
		<dict>
			<key>3</key>
			<string>0x01010000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>NSCPC8739x.kext:NSC PC8739x Monitor Plugin</key>
	<array>
		<dict>
			<key>6</key>
			<string>ACPI</string>
		</dict>
	</array>
	<key>NVClockX.kext:NVClockX nVidia Cards Monitoring Plugin</key>
	<array>
		<dict>
			<key>3</key>
			<string>0x03000000&amp;0xff000000</string>
		</dict>
		<dict>
			<key>0</key>
			<string>0x000010de&amp;0x0000ffff</string>
		</dict>
	</array>
	<key>NullCPUPowerManagement.kext:IntelCPUPowerManagement</key>
	<array>
		<dict>
			<key>6</key>
			<string>IOKit</string>
		</dict>
	</array>
	<key>NuvotonNCT677x.kext:Nuvoton NCT677x Monitor Plugin</key>
	<array>
		<dict>
			<key>6</key>
			<string>ACPI</string>
		</dict>
	</array>
	<key>OemSMBIOS.kext:Platform BIOS Match</key>
	<array>
		<dict>
			<key>5</key>
			<string>bios</string>
		</dict>
	</array>
	<key>PXHCD.kext:PXHCD</key>
	<array>
		<dict>
			<key>3</key>
			<string>0x0c033000</string>
		</dict>
	</array>
	<key>RadeonX.kext:Radeon Cards Monitoring Plugin</key>
	<array>
		<dict>
			<key>3</key>
			<string>0x03000000&amp;0xFF000000</string>
		</dict>
		<dict>
			<key>0</key>
			<string>0x00001002&amp;0x0000FFFF</string>
		</dict>
	</array>
	<key>VoodooHDA.kext:VT2021</key>
	<array>
		<dict>
			<key>1</key>
			<string>0x1e208086</string>
		</dict>
	</array>
	<key>VoodooHDA.kext:VoodooHDA</key>
	<array>
		<dict>
			<key>3</key>
			<string>0x04030000&amp;0xffff0000</string>
		</dict>
	</array>
	<key>WinbondW836x.kext:Winbond W836x Monitor Plugin</key>
	<array>
		<dict>
			<key>6</key>
			<string>ACPI</string>
		</dict>
	</array>
</dict>
</plist>
